<% include ../views/partials/header %>

<form action="/todo/add" method="POST">
  <div>
    <label>Todo Name</label>
    <input type="text" name="text" placeholder="Add Todo" />
  </div>

  <div>
    <label>Todo Body</label>
    <textarea name="body" placeholder="Add Body"></textarea>
  </div>
  <button type="submit">Submit</button>
</form>

<ul>
  <% todos.forEach(function(todo){ %>
  <li>
    <%= todo.text %> - <%= todo.body %>
    <a href="#" data-id="<%= todo._id %>" class="delete-todo">Delete</a>
  </li>
  <% })%>
</ul>

<% include ../views/partials/footer %>
